<script>//build obj using current_user's diff values; render that object onto doc
    window.currentUser = {"id":3,"username":"sennecy_the_cat"}
    window.currentUser 
</script>
<main id="root"></main>